body {
    padding-top: 0px;
    padding-bottom: 0px;
    background: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*.bodyContaine {
    height: 95vh;
    width: 100vw;
}*/

    .bodyContaine img {
        position: relative;
        left: 20vw;
        top: 15%;
    }

.footer p {
    text-align: left;
}

.card-body {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.carimg {
    width: 90px;
    height: 50px;
    border: 1px solid #375a7f;
    border-radius: 10px 100px / 120px;
}

.body-content footer {
    position: absolute;
    bottom: 0;
}

.body1{
    background-image: url(../images/RL.png);
    overflow: hidden;
}

.carimghome {
    width: 200px;
    height: 100px;
}

#imgCar {
    top: 50%;
}