body {
    padding-top: 0px;
    padding-bottom: 0px;
    background: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*.bodyContaine {
    height: 95vh;
    width: 100vw;
}*/

.bodyContaine img {
    position: relative;
    left: 15vw;
    top: 15%;
}

.footer p {
    text-align: left;
}

.card-body {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.carimg {
    width: 90px;
    height: 50px;
    border: 1px solid #375a7f;
    border-radius: 10px 100px / 120px;
}

.body-content footer {
    position: absolute;
    bottom: 0;
}

.body1 {
    background-image: url(../images/RL.png);
    overflow: hidden;
}

.card {
    /* Add shadows to create the "card" effect */
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 300px;
    width: 500px;
    margin-top: 250px;
    left: 150px;
}

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.carimghome {
    height: 260px;
    width: 498px;
}

.custombtn {
    color: white;
    font-weight: 500;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    display: inline-block;
    text-decoration: none;
    position: relative;
}

    .custombtn::before {
        background-color: none;
        position: absolute;
        top: 0;
        left: -10px;
        z-index: -1;
        box-sizing: content-box;
        padding: 0 10px;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: black;
        color: white;
        content: '';
        opacity: 0;
        -webkit-transition: -webkit-transform 0.4s, opacity 0.3s;
        transition: transform 0.4s, opacity 0.3s;
        -webkit-transform: scale(0);
        transform: scale(0);
        text-decoration: none;
    }

    .custombtn:hover::before {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        text-decoration: none;
    }
