@model List<RocketLeague.Models.BuildListItem>

@{
    ViewBag.Title = "Home Page";
}

<div class="bodyContainer">
    <a class="titletext" href="https://cooltext.com"><img src="https://images.cooltext.com/5338946.png" width="623" height="122" alt="Pure RL Builds"></a>
</div>

